body, h1, p, img, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    color: #ee850e;
    font-weight: bold;
    padding: 20px;
    text-align: left;
    font-size: 1.1rem;
    border-radius: 8px 8px 0 0;
}

section {
    margin: 20px 30px auto;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

p {
    margin: 20px 30px auto;
    line-height: 1.6;
    text-align: justify;
    color: #161414;
}

img {
    max-width: 100%;
    border-radius: 16px;
    margin-bottom: 10px;
}

#conheca img, #destino1 img, #destino2 img, #destino3 img {
    width: calc(100% - 40px);
    max-height: 280px;
    display: block;
    margin: 0 auto;
}

#conheca {
    font-style: italic;
}

#descobrindo {
    color: #ee850e;
    font-weight: bold;
    padding: 20px;
    text-align: left;
    font-size: 1rem;
    border-radius: 8px 8px 0 0;
}

#descobrindo p { 
    font-weight: 100;
}

#destino1 h1, #destino2 h1, #destino3 h1 {
    font-size: 1.2em;
    margin: 20px 30px 10px;
    text-align: left;
}

#divisor img {
    width: calc(100% - 40px);
    margin: 20px 0;
}

#conteudo-final {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    text-align: center;
}

#conteudo-final p {
    margin: 0;
}

footer {
    text-align: center;
    padding: 10px;
    color: #161414;
    font-size: 0.9rem;
    font-weight: bold;
}

.destino.historia {
    color: blue;
}

.destino.casais {
    color: red; 
}

.destino.familias {
    color: purple; 
}

.destino.orcamento {
    color: orange; 
}

.destino.meditacao {
    color: green;
}
